html,body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#app{
    width: 100%;
    height: 100%;
}
.fd-aside{
    height: 100%;
    background-color: #545c64;
}
.fd-height100{
    height: 100%;
}